<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1 class="text-center mb-5">Test endpoints for Users</h1>

    <!-- show any messages that come back with authentication -->

    <!-- LOGIN FORM -->
    <div class="d-flex gap-5">
        <form action="/users" method="get" class="w-25">
            <a type="submit" class="btn btn-warning btn-lg" href="/users/get">GET</a>
        </form>
        <form action="/users" method="post" class="w-25">
            <button type="submit" class="btn btn-warning btn-lg">POST</button>
        </form>
    </div>
    

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
</div>
</div>
</body>
</html>